*{
    font-family: Arial, Helvetica, sans-serif;
}
.av{
    list-style:none;
    list-style-type: none;
    display: flex;
    border:2px solid #000000;
    border-radius: 20px;
    box-shadow: 0px 10px 15px #0000003f;
    margin-left: 20px;
    margin-right: 20px;
}
body{
    background-color: #D7E5E7;
    max-width: 100%;
    height: 8000px;
    overflow-x: hidden;
    max-height: 4000px;
}
.logo{
  width: 50px;
  height: 40px;
  margin-top: 7px;
}
.type{
  margin-left: 380px;
  display: flex;
  margin-top: 12px;
  font-size: 20px;
}
#ell{
  width: 40px;
  height: 40px;
  margin-top: 7px;
  margin-left: 210px;
}
#perso{
  width: 38px;
  height: 38px;
  margin-top: 7px;
  margin-left: 20px;
}
button {
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #000;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    width: 100px;
    background-color: #035565;
    text-align: center;
    height: 40px;
    margin-top: 6px;
    margin-left: 20px;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #D7E5E7;
   }
   button::before {
    content: '';
    width: 0;
    height: 500%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #D7E5E7;
    transition: .5s ease;
    display: block;
    z-index: -1;
  }
  
  button:hover::before {
    width: 105%;
  }
  
  button:hover {
    color: #035565;
  }
  .button1 {
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #000;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    width: 150px;
    background-color: #035565;
    text-align: center;
    height: 40px;
    margin-top: 40px;
    margin-left: 700px;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #D7E5E7;
  }
  
  .button1::before {
    content: '';
    width: 0;
    height: 350%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #D7E5E7;
    transition: .5s ease;
    display: block;
    z-index: -1;
  }
  
  .button1:hover::before {
    width: 105%;
  }
  
  .button1:hover {
    color: #035565;
  }
  .beautiful-btn {
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #000;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    width: 180px;
    background-color: #FED5C5;
    text-align: center;
    height: 40px;
    margin-top: 150px;
    margin-left: 550px;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #000;
  }
  
  .beautiful-btn::before {
    content: '';
    width: 0;
    height: 450%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #D7E5E7;
    transition: .5s ease;
    display: block;
    z-index: -1;
  }
  
  .beautiful-btn:hover::before {
    width: 105%;
  }
  
  .beautiful-btn:hover {
    color: #000;
  }
  .head{
    margin-left: 300px;
    margin-top: 35px;
    font-family: "Italiana", sans-serif;
  font-weight: 400;
  position: absolute;
  top: 24%;
  left: 33%;
  right: -20%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 40px;
  font-style: normal;
  }
  .head2{
    margin-left: 680px;
    font-size: 15px;
    margin-top: 80px;
    position: absolute;
    top: 25%;
    left: 7%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .beautiful-btn2 {
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #000;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    width: 180px;
    background-color: #FED5C5;
    text-align: center;
    height: 40px;
    margin-top: 150px;
    margin-left:120px;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #000;
  }
  
  .beautiful-btn2::before {
    content: '';
    width: 0;
    height: 450%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #D7E5E7;
    transition: .5s ease;
    display: block;
    z-index: -1;
  }
  
  .beautiful-btn2:hover::before {
    width: 105%;
  }
  
  .beautiful-btn2:hover {
    color: #000;
  }

  .gg{
    margin-left: 475px;
    margin-top: -200px;
    height: 600px;
    width: 600px;
    filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.6));
    border-radius: 10px;
  }
.head3{
  margin-left: 350px;
  font-size: 80px;
  margin-top: 45px;
}
.head4{
  margin-left: 590px;
  font-size: 20px;
  margin-top: -50px;
}
#rect{
  display: flex;
    transition: transform 0.5s ease; 
    overflow: hidden;
    width: 100%;
}
#left, #right {
  cursor: pointer;
}
.squ{
  background-color: #D9D9D9;
  width: 300px;
  height: 460px;
  min-width: 300px;
  border:2px solid #000;
  color: #000;
  border-radius: 15px;
  margin-left: 50px;
  margin-right: 50px;
}
.squ2{
  margin-left: -150px;
  margin-top: -30px;
  height: 400px;
  width: 550px;
  filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.6));
}
.squ3{
  margin-left: 20px;
}
.squ4{
  margin-left:20px ;
  margin-top: -14px;
}
.number{
  background-color: #FED5C5;
  color: #035565;
  border: 2px solid #035565;
  width: 40px;
  border-radius: 40px;
}
#left{
  margin-left: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-top: 200px;
}
#right{
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-top: 200px;
}
.para{
  font-size: 30px;
  width: 600px;
  align-items: center;
  margin-left: 480px;
  margin-top: 200px;
  text-align: center;
}
.line {
  border: none;
  height: 4px; 
  background-color: black; 
  width: 101%; 
  margin-left: -10px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.para2{
  font-family: "Ribeye", serif;
  font-weight: 400;
  font-style: normal;
}
.leash{
  margin-left: 100px;
}
.para4{
  margin-left: 800px;
  margin-top: -150px;
}
.para5{
  background-color: #D9D9D9;
  border: 2px solid #000;
  border-radius: 20px;
  height: 200px;
  margin-bottom: 20px;
  width: 600px;
}
.button5{
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid #000;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  width: 180px;
  background-color: #FED5C5;
  text-align: center;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #000;
}

.button5::before {
  content: '';
  width: 0;
  height: 450%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #D7E5E7;
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.button5:hover::before {
  width: 105%;
}

.button5:hover {
  color: #000;
}
.logos{
  height: 60px;
  width: 60px;
  margin-top: 50px;
  margin-left: 20px;
}
#logo3{
  font-size: 70px;
  margin-left: 40px;
}
#logom{
  background-color: #ffffff;
  height: 450px;
  margin-top: 100px;
  margin-left: -10px;
  width: 1540px;
}
.Explore{
  margin-left: 590px;
  font-size: 40px;
  margin-top: 100px;
}
.whole{
  margin-left: 600px;
  margin-top: -400px;
  display: flex;
}
.one{
margin-right: 200px;
font-size: 20px;
}
.two{
  margin-right: 200px;
font-size: 20px;
}
.three{
  margin-right: 200px;
font-size: 20px;
}
@media (max-width: 768px) {
  .type {
      display: block;
      margin-left: 0;
  }
  .gg {
      width: 100%;
      height: auto;
  }
  .head {
      font-size: 30px;
      margin-left: 0;
  }
}
:root {
  --primary-color: #035565;
  --secondary-color: #FED5C5;
  --text-color: #D7E5E7;
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
}
